Source: caudium-1.1
Section: web
Priority: optional
Maintainer: Marek Habersack <grendel@debian.org>
Standards-Version: 3.1.1
Build-Depends: pike7.2|pike7, debconf-utils, gzip, libpcre3-dev, libsablot0-dev, debhelper, libxmltok1-dev, debconf (>= 0.2.26)

Package: caudium-1.1
Architecture: any
Pre-Depends: debconf (>= 0.2.26)
Depends: ${shlibs:Depends}, ${pike:name} (= ${pike:ver}), caudium-modules-1.1 (= ${Source-Version}), ${pike:name}-image (= ${pike:ver}), ${pike:name}-gz (= ${pike:ver}), ${pike:name}-crypto|${pike:name}-lobotomized-crypto (= ${pike:ver}), logrotate
Suggests: roxen-doc (>= 1.3.122-1), pexts-pcre, pexts-mhash
Recommends: caudium-pixsl, caudium-ultralog
Provides: httpd
Description: An extensible WWW server written in Pike
 Caudium is a modern, fast and extensible WWW server derived from Roxen. 
 Caudium is by default compatible with Roxen 1.3 although some incompatible 
 options, mostly introduced to improve the performance, security etc. of the
 server, can be turned on. 
 Caudium features built-in log parsing engine (UltraLog), XSLT parser, native
 PHP4 support (you need ${pike:name} that has been compiled to support php4 for this
 to work), multiple execution threads and many more features - see 
 http://caudium.net/ and http://caudium.org/ for more information.

Package: caudium-modules-1.1
Architecture: any
Depends: ${shlibs:Depends}, ${pike:name} (= ${pike:ver}), caudium-1.1 (= ${Source-Version})
Description: C modules for Caudium
 Certain parts of Caudium are coded in C for speed. This package contains the
 compiled shared modules that are required by Caudium to run.

Package: caudium-pixsl-1.1
Architecture: any
Depends: ${shlibs:Depends}, ${pike:name} (= ${pike:ver}), caudium-1.1 (= ${Source-Version})
Description: Pike XSLT module for Caudium
 Certain parts of Caudium are coded in C for speed. This package contains the compiled
 shared extension module that provides Caudium with XSLT support.

Package: caudium-ultralog-1.1
Architecture: any
Depends: ${shlibs:Depends}, ${pike:name} (= ${pike:ver}), caudium-1.1 (= ${Source-Version})
Description: Log Parser module for Caudium
 Certain parts of Caudium are coded in C for speed. This package contains the compiled
 shared extension module that provides Caudium with a built-in log file parser that
 is capable of generating extensive statistics on the fly for virtual servers configured
 in your Caudium WebServer.

Package: caudium-camas-1.1
Architecture: any
Depends: ${pike:name} (= ${pike:ver}), caudium-1.1 (= ${Source-Version})
Description: A webmail module for Caudium
 CAMAS (CAudium Mail Access System) is an IMAP-based, integrated webmail module
 for Caudium. It is built upon the Roxen IMHO package and thus backward compatible
 with it (as far as the config files are concerned). It contains many improvements,
 bug fixes, new features - better national language support, better layout manager,
 more configuration options, multi-domain mail support and more.
